<div class="side_top">
  <div class="top_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <a href="#">Tom</a>
  </div> 
  <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side_middle">
  <% current_user.rooms.each do |room| %>
    <div class="chat_room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>  
  <div class="chat_room">
    <div class="room_name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>